<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>产品详情</title>
	<link rel="stylesheet" href="__HOME__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__HOME__/css/productdetail.css">
	<link rel="stylesheet" href="__HOME__/css/header.css">
</head>
<body>
{include file='public/header'}
<!--商品列表 -->
	<div class="container product">
<!-- 插入图片 -->
		<div class="row pic">
			<img src="__HOME__/images/slogan01.jpg" alt="">
		</div>
<!-- 商品主体部分 -->
		<div class="row">
		<!-- 左边导航部分 -->
			<div class="col-md-3 title">
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
				<a href=""></a>
			</div>
		<!-- 右边列表部分 -->
			<div class="col-md-9 content">
				<div class="row listtop">
					<div class="col-md-12">
						<img src="__HOME__/images/product_cont_t.gif" alt="">
					</div>
				</div>
				<div class="row"><h2>浓缩酸奶壶(芝士味)</h2></div>
				<div class="row"><img src="__HOME__/images/QQ图片20170427111639(3).png" alt=""></div>
				<div class="row">
					<ul >
						<li>产品名称：浓缩酸奶壶(芝士味)</li>
						<li>产品规格：1-12-180g</li>
						<li>产品介绍：比国家标准多35%乳蛋白的浓缩酸奶，好喝到想哭。</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
<!-- 尾部分 -->
	{include file='public/foot'}
</body>
</html>