<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>联系我们</title>
	<link rel="stylesheet" href="__HOME__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__HOME__/css/contactus.css">
	<link rel="stylesheet" href="__HOME__/css/header.css">
</head>
<body>
{include file='public/header'}
<!-- 新闻主体部分 -->
	<div class="container news">
<!-- 插入图片 -->
		<div class="row pic">
			<img src="__HOME__/images/slogan01.jpg" alt="">
		</div>
<!-- 标题栏 -->
		<div class="row">
			<div class="col-md-3">
				<div class="title">
					<h4>关于君乐宝</h4>
					<ul class="nav nav-pills nav-stacked">
						<li><a href="">企业简介</a></li>
						<li><a href="">领导关怀</a></li>
						<li><a href="">企业文化</a></li>
						<li><a href="">企业历程</a></li>
						<li><a href="">	荣誉事迹</a></li>
						<li><a href="">销售网络</a></li>
						<li class="active"><a href="">联系我们</a></li>
					</ul>
				</div>
			</div>
<!-- 新闻详情 -->
			<div class="col-md-9 content">
				<div class="row" >
					<div class="col-md-6">
						<h3>联系我们</h3>
						<p>君乐宝乳业集团拥有专业一流的服务团队，所有人员严格培训考核后才能上岗。同时，君乐宝乳业还开通了400免费服务热线，为消费者了解企业和产品信息提供窗口;君乐宝的专业服务团队会对每一位消费者的咨询给予耐心解答。</p>
						<img src="__HOME__/images/hot_line.gif" alt="">
					</div>
					<div class="col-md-6 contact_r">
						<img src="__HOME__/images/contacts.jpg" alt="">
					</div>
				</div>
				<div class="row info">
					<div class="col-md-12">
						<div>奶粉客户服务热线： 400-600-6611</div>
						<div>液态奶客户服务热线：400-612-8138</div>
						<div>品牌推广：0311-67362705</div>
						<div>新闻采访：0311-67362669</div>
						<div>工业旅游：0311-67362691</div>
						<div>行政办公室：0311-67362666</div>
						<div>人力资源部招聘电话：0311-67362707</div>
						<div>客服邮箱：jlb800@163.com</div>
					</div>
				</div>
				<div class="row info">
					<div class="col-md-12">
						<div>地　　址：河北省石家庄市鹿泉区铜冶镇石铜路36号</div>
						<div>邮　　编：050221</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 尾部分 -->
	{include file='public/foot'}
</body>
</html>