<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台欢迎页</title>
	<link rel="stylesheet" href="__ADMIN__/css/reset.css" />
	<link rel="stylesheet" href="__ADMIN__/css/public.css" />
	<link rel="stylesheet" href="__ADMIN__/css/content.css" />
</head>
<body marginwidth="0" marginheight="0">
	<div class="container">
		<div class="public-nav">您当前的位置：<a href="">管理首页</a>><a href="">添加配置</a></div>
		<div class="public-content">
			<div class="public-content-cont">
			<form action="" method="post">
				<div class="form-group">
					<label for="">中文名称</label>
					<input class="form-input-txt" type="text" name="cnname" value="" />
				</div>
				<div class="form-group">
					<label for="">英文名称</label>
					<input class="form-input-txt" type="text" name="enname" value="" />
				</div>
				<div class="form-group">
					<label for="">配置类型</label>
					<select name="type" class="form-input-txt" style="width:10%">
						<option value="0">请选择</option>
						<option value="1">单行文本</option>
						<option value="2">多行文本</option>
						<option value="3">单选</option>
						<option value="4">复选框</option>
						<option value="5">下拉菜单</option>
					</select>
				</div>
				<div class="form-group">
					<label for="">可选值</label>
					<textarea name="values" cols="46" rows="10"></textarea>
				</div>
				<div class="form-group" style="margin-left:150px;">
					<input type="submit" class="sub-btn" value="保存设置" />
					<input type="reset" class="sub-btn" value="重  置" />
				</div>
			</form>
			</div>
		</div>
	</div>
<script src="__ADMIN__/kingediter/kindeditor-all-min.js"></script>
<script src="__ADMIN__/js/laydate.js"></script>
<script>
	 KindEditor.ready(function(K) {
                window.editor = K.create('#editor_id');
        });
</script>
</body>
</html>