<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>企业招聘</title>
	<link rel="stylesheet" href="__HOME__/css/bootstrap.min.css">
	<link rel="stylesheet" href="__HOME__/css/recruit.css">
	<link rel="stylesheet" href="__HOME__/css/header.css">
</head>
<body>
{include file='public/header'}
<!--商品列表 -->
	<div class="container recruit">
<!-- 插入图片 -->
		<div class="row pic">
			<img src="__HOME__/images/105288_medias_20151123_20151123bannersocial.jpg" alt="">
		</div>
		<div class="row">
			<div class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					<li><h3>职位类型</h3></li>
					<li><a href="">产品类</a></li>
					<li><a href="">运营类</a></li>
					<li><a href="">技术类</a></li>
					<li><a href="">职能类</a></li>
					<li><a href="">市场销售类</a></li>
				</ul>
			</div>
			<div class="col-md-9 content">
				<div class="row">
					<div class="col-md-12">
						<h3>职位搜索</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
					</div>
					<div class="col-md-8">
						<form action="">
							<div class="input-group">
								<input type="text">
								<input type="submit" value="搜索">
							</div>
						</form>
					</div>
					<div class="col-md-2">
					</div>
				</div>
				<div class="row">
					<div class="col-md-2"></div>
					<div class="col-md-8">
						<ul class="nav">
							<li><a href="">全部</a></li>
							<li><a href="">产品类</a></li>
							<li><a href="">运营类</a></li>
							<li><a href="">技术类</a></li>
							<li><a href="">职能类</a></li>
							<li><a href="">市场销售类</a></li>
						</ul>
					</div>
					<div class="col-md-2"></div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<table class="table">
							<tr class="success">
								<th>职位名称</th>
								<th>职位类型</th>
								<th>工作地点</th>
								<th>发布时间</th>
								<th>操作</th>
							</tr>
							<tr>
								<td><a href=""> 消费者需求研究员</a></td>
								<td>技术类</td>
								<td>石家庄</td>
								<td>2017-08-28</td>
								<td><a href="" class="btn btn-primary">立即申请</a></td>
							</tr>
							<tr>
								<td><a href=""> 消费者需求研究员</a></td>
								<td>技术类</td>
								<td>石家庄</td>
								<td>2017-08-28</td>
								<td><a href="" class="btn btn-primary">立即申请</a></td>
							</tr><tr>
								<td><a href=""> 消费者需求研究员</a></td>
								<td>技术类</td>
								<td>石家庄</td>
								<td>2017-08-28</td>
								<td><a href="" class="btn btn-primary">立即申请</a></td>
							</tr>
							<tr>
								<td><a href=""> 消费者需求研究员</a></td>
								<td>技术类</td>
								<td>石家庄</td>
								<td>2017-08-28</td>
								<td><a href="" class="btn btn-primary">立即申请</a></td>
							</tr>		
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- 尾部分 -->
	{include file='public/foot'}
</body>
</html>