<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台欢迎页</title>
	<link rel="stylesheet" href="__ADMIN__/css/reset.css" />
	<link rel="stylesheet" href="__ADMIN__/css/content.css" />
	<link rel="stylesheet" href="__ADMIN__/css/page.css" />
</head>
<body marginwidth="0" marginheight="0">
	<div class="container">
		<div class="public-nav">您当前的位置：<a href="">管理首页</a>><a href="">栏目列表</a></div>
		<div class="public-content">
			<div class="public-content-cont two-col">
				<form action="" method="post">
				<table class="public-cont-table">
					<tr>
						<th style="width:10%">ID</th>
						<th style="width:10%">排序</th>
						<th style="width:20%">栏目名称</th>
						<th style="width:20%">栏目类型</th>
						<th style="width:20%">上级栏目</th>
						<th style="width:20%">操作</th>
					</tr>
					{volist name='cateres' id='cate'}
					<tr>
						<td>{$cate.id}</td>
						<td><input type="text" name="{$cate.id}" value="{$cate.sort}" style="width:30%"></td>
						<td style="text-align:left">{if condition="$cate.level neq 0"}|{/if}
						{$cate.level|str_repeat="_",###*4}
						{$cate.cate_name}
						</td>			
						<td>
							{if condition="$cate.type eq 1"}
							文章列表{/if}
							{if condition="$cate.type eq 2"}
							单页{/if}
							{if condition="$cate.type eq 3"}
							图片列表{/if}
						</td>
						<td>{$cate.pid}</td>
						<td>
							<div class="table-fun">
								<a href="{:url('cate_update',array('id'=>$cate.id))}">修改</a>
								<a href="cate_delete?id={$cate.id}">删除</a>
							</div>
						</td>
					</tr>
					{/volist}
					<tr>
						<td style="width:10%"></td>
						<td style="width:10%"><input type="submit" value="提交" style="width:50%"></td>
						<td style="width:20%"></td>
						<td style="width:20%"></td>
						<td style="width:20%"></td>
						<td style="width:20%"></td>
					</tr>
				</table>
				</form>
			</div>
		</div>
	</div>
</body>
</html>